
$primary-bg-color: #5e7791;
$border-color: #516a84;
$active-color: #83aad2;
/*$active-border-color: #a1bfde;*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  color: #232323;
}

body {
  line-height: 1;
  font-size: 0;
  margin: 0 auto;
  background: $primary-bg-color;
  font-family: 'Rubik', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

span {
  font-size: 18px;
}

h1 {
  font-size: 42px;
}
h2 {
  font-size: 30px;
}

.homepage-wrapper {
  overflow: hidden;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.upper {
  text-transform: uppercase;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.hidethis {
  display: none;
}

.page-wrapper,
.main-wrapper {
  max-width: 1280px;
  margin: auto;
}

.nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  min-height: 75px;
  margin-right: 20px;
  margin-top: 5px;
}

.nav-item {
  float: right;
  border: solid 6px $border-color;
  margin: 10px 8px;
  padding: 5px 8px;
  min-width: 90px;
  text-align: center;
  font-weight: 900;
  font-size: 18px;
  border-radius: 16px;
  display: inline-block;
  transition: border 300ms, background-color 300ms;

  &:hover {
    cursor: pointer;
    background: $active-color;
  	border-color: $active-color;
    transition: border 300ms, background-color 300ms;
  }
}



.card {
  width: 440px;
  padding: 10px;
  min-height: 200px;
  display: inline-block;
}

.heading {
  margin: 100px 0;
  margin-left: 200px; 
  display: flex;
}

.logo {
  width: 50px;
  height: 50px;
  font-size: 18px;
  margin: 3px;
  padding: 10px;
  border-radius: 35px;
  display: inline-block;

  /*&:hover {
    background: #83aad2;
  }*/

  a {
	width: 100%;
    height: 100%;
    display: block;
    border-radius: 40px;
    background-color: $primary-bg-color;
    transition: padding 300ms, margin 300ms, background-color 300ms;

  	&:hover {
  	  margin: -10px;
  	  padding: 10px;
      background-color: $active-color;
      transition: padding 300ms, margin 300ms, background-color 300ms;
    }
  }
}

.resume-icon,
.linkedin-icon,
.github-icon {
  width: 100%;
}

.name-title {
  padding-bottom: 6px;
  font-size: 42px;
  letter-spacing: 1px;
  font-weight: bold;
}

.name-sub-title {
  font-size: 20px;
}

.name-skills-title {
  padding-top: 50px;
  font-size: 20px;
}

.name-skills {
  padding-top: 2px;
  font-size: 18px;
}

.content-wrapper h2 {
  text-align: center;
  line-height: 1.2em;
  border-bottom: 6px solid $border-color;
  background: #6c88a5;
  border-radius: 10px 10px 0 0;
}

.block {
  min-height: 300px;
  width: calc(33.33% - 42px);
  margin: 15px;
  font-size: 18px;
  vertical-align: top;
  display: inline-block;
  border: 6px solid $border-color;
  border-radius: 16px;
}

.cert {
  padding: 10px 60px;
  
  li {
    padding-bottom: 10px;
  }
}

