/* line 1, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 21, ../scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

/* line 25, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 28, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 31, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 34, ../scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 39, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../scss/_base-styles.scss */
* {
  color: #232323;
}

/* line 4, ../scss/_base-styles.scss */
body {
  margin: 0 auto;
  background: #5e7791;
  font-family: 'Dosis', sans-serif;
}

/* line 9, ../scss/_base-styles.scss */
a {
  color: black;
  text-decoration: none;
}

/* line 13, ../scss/_base-styles.scss */
.homepage-wrapper {
  overflow: hidden;
}

/* line 16, ../scss/_base-styles.scss */
.center {
  text-align: center;
}

/* line 19, ../scss/_base-styles.scss */
.bold {
  font-weight: bold;
}

/* line 22, ../scss/_base-styles.scss */
.upper {
  text-transform: uppercase;
}

/* line 26, ../scss/_base-styles.scss */
ul {
  padding: 0;
  margin: 0;
}

/* line 30, ../scss/_base-styles.scss */
li {
  list-style: none;
}

/* line 33, ../scss/_base-styles.scss */
.header-wrapper,
.body-wrapper,
.footer-wrapper {
  margin: auto;
}

/* line 39, ../scss/_base-styles.scss */
.hidethis {
  display: none;
}

/* line 3, ../scss/_header.scss */
.body-wrapper .head-wrapper .title-wrapper {
  text-align: center;
}
/* line 6, ../scss/_header.scss */
.body-wrapper .head-wrapper .title-wrapper .profile-image {
  margin: 100px auto 10px auto;
  width: 250px;
  height: 250px;
  border: solid 6px #49627c;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-image: url("../images/uo.jpg");
  background-size: 95%;
}
/* line 17, ../scss/_header.scss */
.body-wrapper .head-wrapper .title-wrapper .myname-title {
  font-size: 64px;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
}
/* line 23, ../scss/_header.scss */
.body-wrapper .head-wrapper .title-wrapper .myname-sub-title {
  font-size: 32px;
  text-align: center;
}
/* line 28, ../scss/_header.scss */
.body-wrapper .head-wrapper .title-wrapper .home-title {
  margin: 20px;
}
/* line 31, ../scss/_header.scss */
.body-wrapper .head-wrapper .title-wrapper .home-title span {
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
}
/* line 38, ../scss/_header.scss */
.body-wrapper .head-wrapper .title-wrapper .home-sub-title {
  margin: 8px;
}
/* line 41, ../scss/_header.scss */
.body-wrapper .head-wrapper .title-wrapper .home-sub-title span {
  font-size: 24px;
  text-align: center;
}

/* line 4, ../scss/_raspberry.scss */
.rspbry-body-wrapper .head-wrapper .title-wrapper .home-title {
  font-size: 64px;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
}
/* line 10, ../scss/_raspberry.scss */
.rspbry-body-wrapper .head-wrapper .title-wrapper .home-sub-title {
  font-size: 32px;
  text-align: center;
}
/* line 14, ../scss/_raspberry.scss */
.rspbry-body-wrapper .head-wrapper .title-wrapper .raspberry-image {
  position: absolute;
  z-index: -1;
  left: calc(50% - 250px);
  background-size: cover;
  width: 500px;
  height: 500px;
  background-image: url("../images/rspbry.png");
}
/* line 26, ../scss/_raspberry.scss */
.rspbry-body-wrapper .rspbry-content .rspbry-controls {
  margin: 19px auto 0 auto;
  padding-left: 1px;
  width: 502px;
  max-height: 482px;
  overflow: hidden;
}
/* line 33, ../scss/_raspberry.scss */
.rspbry-body-wrapper .rspbry-content .rspbry-controls .rspbry-button {
  margin-right: -3px;
  margin-bottom: -2px;
  height: 24px;
  width: 250px;
  opacity: 0.6;
  background-color: red;
  display: inline-block;
}
/* line 44, ../scss/_raspberry.scss */
.rspbry-body-wrapper .footer-wrapper {
  margin-top: 150px;
}
