.body-wrapper {
  .head-wrapper {
    .title-wrapper {
      text-align: center;

      .profile-image {
        margin: 100px auto 10px auto;
        width: 250px;
        height: 250px;
        border: solid 6px rgb(73, 98, 124);
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        background-image: url("../images/uo.png");
        background-size: 138%;
        background-position: -46px -73px;
      }
      .myname-title {
        font-size: 64px;
        letter-spacing: 2px;
        font-weight: bold;
        text-align: center;
      }
      .myname-sub-title {
        font-size: 32px;
        text-align: center;
      }

      .home-title {
        margin: 20px;

        span {
          font-size: 32px;
          letter-spacing: 1px;
          font-weight: bold;
          text-align: center;
        }
      }
      .home-sub-title {
        margin: 8px;

        span {
          font-size: 24px;
          text-align: center;
        }
      }
    }
  }
}