
// Color variables
$c-white: #F2F2F2;
$c-black: #232323;
$c-gray: #4f5151;
$c-background: #5e7791;
$c-footer: #333333;

// breakpoints
$bp-md-large        :1374px;
$bp-large           :1200px;
$bp-medium          :992px;
$bp-small           :767px;
$bp-extra-small     :480px;
$bp-tiny            :320px;
